<dialog [id]="'my_modal_6'" [class.modal]="true" [class.modal-open]="showModal">
    <div class="modal-box text-center">
        <ng-container *ngIf="showModalP1">
            <h4 class="text-black text-2xl mb-4">
                Delete your rating and review?
            </h4>
            <!-- Confirm and Cancel buttons -->
            <button
                type="button"
                class="btn text-red-500"
                (click)="onConfirmDelete()">
                Confirm
            </button>
            <button type="button" class="btn"
                (click)="onCancel()">Cancel</button>
        </ng-container>
    </div>
</dialog>
