@tailwind base;
@tailwind components;
@tailwind utilities;

.tool-tip {
  position: relative;
}

.tool-tip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 120%;
  right: 0;
}

.tool-tip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 15%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.tool-tip:hover .tooltiptext {
  visibility: visible;
}

.btn-cstm {
  border: none;
  min-height: 0;
  height: auto;
}

.w-9-10 {
  width: 90%;
}

.poster-img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.poster-img-1 {
  width: 400px;
}

.btn-nav-l:hover {
  border-color: transparent;
  background-color: transparent;
}

.btn-d-del:hover {
  background-color: white;
  color: red;
}

.txt-outline-c {
  text-shadow: -1px 0 rgb(234, 179, 8), 0 1px rgb(234, 179, 8), 1px 0 rgb(234, 179, 8), 0 -1px rgb(234, 179, 8);
}

@media screen and (max-width: 768px) {
  .poster-img {
    width: auto;
  }
  .poster-img-1 {
  width: 92%;
  margin: auto;
  margin-bottom: 20px;
}
}