<dialog [id]="'my_modal_2'" [class.modal]="true"
    [class.modal-open]="showModal">
    <div class="modal-box">
        <form name="rr" (ngSubmit)="onSubmit()" class="text-center">
            <section id="updateForm">
                <h4 class="text-center text-black text-2xl my-4">Update Rating
                    and Review</h4>

                    <div class="rating">
                        <input id="star-1" type="radio" name="rating-2"
                            class={{ratingOpacity}} (click)="ratingHandler(1)" />
                        <input id="star-2" type="radio" name="rating-2"
                            class={{ratingOpacity}} (click)="ratingHandler(2)" />
                        <input id="star-3" type="radio" name="rating-2"
                            class={{ratingOpacity}} (click)="ratingHandler(3)" />
                        <input id="star-4" type="radio" name="rating-2"
                            class={{ratingOpacity}} (click)="ratingHandler(4)" />
                        <input id="star-5" type="radio" name="rating-2"
                            class={{ratingOpacity}} (click)="ratingHandler(5)" />
                    </div>
                    <br>
                <!-- Star rating component -->
                <!-- <div class="flex justify-center mb-4">
                    <div>
                        <input
                            [(ngModel)]="rating"
                            name="rating"
                            type="number"
                            min="0"
                            max="5"
                            step="1"
                            class="rating-input" />
                    </div>
                </div> -->

                <!-- Textarea for review input -->
                <textarea
                    type="text"
                    [(ngModel)]="reviewTxt"
                    name="review"
                    class="textarea textarea-bordered textarea-md w-full max-w-xs text-black my-2"
                    placeholder="Write your review">
        </textarea>

                <br />

                <!-- Submit and Cancel buttons -->
                <button type="submit" class="btn">Submit</button>
                <button type="button" (click)="closeModal()"
                    class="btn">Cancel</button>
            </section>
        </form>
    </div>
</dialog>
